.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #0cf8f89b;
  text-align: left;
  padding: 8px;
  font-size: 28px;
}

th {
  background-color: rgb(49, 145, 229);
}

td {
  background-color: rgb(12, 251, 247);
  text-decoration: solid;
}

form {
  display: flex;
  gap: 5px;
  
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
